<h3 style="padding: 24px; text-align: center">ATD Sensor Chart</h3>

<div style="padding: 24px">
  <mat-tab-group (selectedTabChange)="sensorTabs($event)">
    <mat-tab label="Live Updates">
      <div style="padding: 24px">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="serialNo">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.serialNo }}</td>
          </ng-container>

          <ng-container matColumnDef="sensorCode">
            <th mat-header-cell *matHeaderCellDef>Sensor Code</th>
            <td mat-cell *matCellDef="let element">
              {{ element.sensorCode }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fromTime">
            <th mat-header-cell *matHeaderCellDef>From Time</th>
            <td mat-cell *matCellDef="let element">{{ element.fromTime }}</td>
          </ng-container>

          <ng-container matColumnDef="toTime">
            <th mat-header-cell *matHeaderCellDef>To Time</th>
            <td mat-cell *matCellDef="let element">{{ element.toTime }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Historic Data">
      <div style="padding: 24px">
        <table
          mat-table
          [dataSource]="historyDataSource"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="serialNo">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.serialNo }}</td>
          </ng-container>

          <ng-container matColumnDef="sensorCode">
            <th mat-header-cell *matHeaderCellDef>Sensor Code</th>
            <td mat-cell *matCellDef="let element">
              {{ element.sensorCode }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fromTime">
            <th mat-header-cell *matHeaderCellDef>From Time</th>
            <td mat-cell *matCellDef="let element">{{ element.fromTime }}</td>
          </ng-container>

          <ng-container matColumnDef="toTime">
            <th mat-header-cell *matHeaderCellDef>To Time</th>
            <td mat-cell *matCellDef="let element">{{ element.toTime }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="senorSelected(row)"
            style="cursor: pointer"
          ></tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
