.dashboard {
  display: flex;
  gap: 10px;
}
.dashboard-table {
  position: absolute;
  min-height: 500vh !important;
  height: 500vh;
}
.sensor-dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  color: #000;
}
.sensor-dot:nth-child(1) {
  top: 1%;
  left: 50%;
}

.sensor-dot:nth-child(2) {
  top: 15%;
  left: 50%;
}

.sensor-dot:nth-child(3) {
  top: 20%;
  left: 35%;
}
.sensor-dot:nth-child(4) {
  top: 30%;
  left: 40%;
}
.sensor-dot:nth-child(5) {
  top: 30%;
  left: 50%;
}
.sensor-dot:nth-child(6) {
  top: 20%;
  left: 65%;
}
.sensor-dot:nth-child(7) {
  top: 70%;
  left: 40%;
}
.sensor-dot:nth-child(8) {
  top: 60%;
  left: 50%;
}
.sensor-dot:nth-child(9) {
  top: 70%;
  left: 60%;
}

.sensor-dot:nth-child(1):after,
.sensor-dot:nth-child(2):after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 5px;
  height: 75px;
  top: 100%;
  left: 45%;
  display: block;
}

.sensor-dot:nth-child(3):after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 5px;
  height: 80px;
  transform: rotate(-45deg);
  position: relative;
  left: 100%;
  top: 100%;
}

.sensor-dot:nth-child(6):after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 5px;
  height: 150px;
  transform: rotate(70deg);
  position: relative;
  left: -225%;
  top: 90%;
}

.sensor-dot:nth-child(4):after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 5px;
  height: 115px;
  transform: rotate(90deg);
  position: relative;
  left: 175%;
  top: 0%;
}

.sensor-dot:nth-child(5):after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 5px;
  height: 180px;
  top: 100%;
  left: 45%;
  display: block;
}

.sensor-dot:nth-child(8):after {
  content: "";
  width: 5px;
  background-color: #000;
  height: 100px;
  transform: rotate(60deg);
  position: relative;
  right: 60px;
  top: 90%;
}

.sensor-dot:nth-child(9):after {
  content: "";
  width: 5px;
  background-color: #000;
  height: 100px;
  transform: rotate(-60deg);
  position: relative;
  right: 60px;
  top: -90%;
}
